.banner {
      background-color:	antiquewhite;
      width:100%;
      height:100px;
      margin-bottom:50px;
}

.banner-text {
      color:red;
      left:40%;
      right:3%;
      position:absolute;
      transform:transform;
}